@media (max-width:803px){

    body{
        background-color: #ffff;
        
    }

    .insta-principal{
        margin: 0 auto;
        width: 100%;
    }
    .imagem-phone{
        width: 100%;
        display: none;
    }
    .login{
        
        width: 100%;
       
    }
    .grupo{
        width: 100%;
        padding: 1.0rem 4.0rem;
        border: 1px solid #dbdbdb;
    }
}